<!DOCTYPE html>
<html>
    <head>

        <title>Blog-System</title>

        <link rel="stylesheet"  href="/public/css/style.css">

    </head>
    <body class="index add-posts-index">

    <div class="navbar">

        <a href="/">
            <div class="logo">B</div>
            </a>

        <div class="nav-btns">

            <a class="nav-btn-1"href="/" style="color: green;">
                <label for="submit-label">Done</label>
            </a>

            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="30">
            <line x1="5" y1="0" x2="5" y2="30" stroke="black" />
            </svg>
            <a class="nav-btn-2" href="/" style="color: red;">Cancel</a>
        </div>
        
        </div>

        <section class="center-sec add-post-form">
  <h1 class="index-title" style="margin-bottom: 30px;">ADD POST</h1>
           
            <form class="post-form" action="/add-post" method="POST" enctype="multipart/form-data">  

            <p class="i-1">TITLE</p>
            <p class="i-2">IMAGE</p>
            <input class="i-3" id="post-title-input" type="text" name="title" required>
            <label class="i-4 custom-file-label" for="post-image-input">Escolher arquivo</label>
            <input class="image-input" type="file" id="post-image-input" name="image" required>

            <p class="i-5">TEXT</p>
            <textarea class="i-6" id="post-text-input" type="text" rows="5" cols="22" name="text" required></textarea>
    
            <p class="i-7">AUTHOR</p>
            <input class="i-8" id="post-author-input" type="text" name="author" required>
            <button class="i-9 submitBtn" id="submit-label" type="submit">Submit</button>
            </form>

        <!-- Error Message -->
    
        <p id="errorMessage"></p>

        </section>

        

    </body>

    <script src="/public/js/script.js"></script>


</html>