<!DOCTYPE html>
<html>
    <head>

        <title>Blog-System</title>
        <link rel="stylesheet"  href="css/style.css">

    </head>
    <body>
        <div class="post-exibit">
            <h1>Blog Posts</h1>
            <ul>
                <% posts.forEach(post => { %>
                  <li><a href="/post/<%= post.id %>"><%= post.title %></a></li>
                <% }); %>
              </ul>
        </div>
        <div class="add-post-here">
            
            <a href="/add-post">Add a new post here!</a>
        </div>
    </body>
    <script src="script.js"></script>
</html>