/*
+=============+
     Fonts
+=============+
*/
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*
+=============+
   Variables
+=============+
*/

:root {
    /*Primary colors*/
 
    
    /* Fonts */
    --Monoton: 'Monoton', cursive;
    --Lexend: 'Lexend', sans-serif;
    --Lexend-Giga: 'Lexend Giga', sans-serif;
    --Poppins: 'Poppins', sans-serif;
    /* other variables */
    --spacing-gap: 0.5rem;
    --x: 433; /* distance scrolled down to the title get fixed on top */
    --scr-1:900; /* distance that the button 1 will scroll down */
    --scr-2:1900; /* distance that the button 2 will scroll down */
    --titlePos: 2.8%; /* position of the title when the page scroll down */
    }
    
/*
+=============+
Geral Configs
+=============+
*/
html,body {
    font-family: 'Poppins';
    text-decoration: none;
    margin: 0;
    height: 100%;
    overflow: hidden;
    /* overflow-x: hidden; */
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 0;
}

button {
    font-family: 'Poppins';
}

textarea {
    resize: vertical;
}

.center-sec {
    /* visibility: hidden; Just to work better in the navbar */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px 60px 10px 60px;
    
}


/* .first-top-item {
    font-size: 30pt;
} */

/*
+=============+
Navbar
+=============+
*/

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 2%;
    left: 0;
    right: 0;
  
}

.logo {
    font-family: var(--Monoton);
    font-size: 50px;
    margin-left: 80px; 
    text-shadow: 3px 3px 3px rgba(0,0,0,0.59);
}

.nav-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 238px;
    height: 50px;
    margin-right: 80px;
    font-family: var(--Lexend);
    font-size: 20px;
    background-color: white;
    border-radius: 30px;
    /* padding: 5px 30px 5px 30px; */
}

.nav-btn-1 {
    position: fixed;
    margin-right: 110px;
}

.nav-btn-2 {
    position: fixed;
    margin-left: 110px;
}

.nav-btn-1:hover {
    font-weight: bold;
}

.nav-btn-2:hover {
    font-weight: bold;
}

/*
+=============+
Background Image Config 
+=============+
*/

.index {
    height: 100vh;
    background-image: url('/images/snow-mountain.png');
    background-position: -80px -110px;
    background-repeat: no-repeat;
}

.manage-posts-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('/images/pexels-jonathan-aman-756900.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -250px; 
    z-index: -10;
    /* overflow-x: hidden; */
}

.all-posts-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('/images/pexels-mark-soetebier-11126415.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -100px;
    z-index: -10;
    /* overflow-x: hidden; */
}

.add-posts-index {
    /* height: 100%; */
    background-position: -80px -1500px;
    /* overflow-x: hidden; */
}

.edit-posts-index {
    background-image: url('/images/pexels-mark-soetebier-11126415.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -300px;
    /* overflow-x: hidden; */
}

/*
+=============+
Footer
+=============+
*/

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-color: #d9d9d9;
    position: absolute;
    top: 2700px;
    overflow: hidden;
    font-family: var(--Poppins);
    justify-content: space-between;
    padding-top: 10px;
}   

.contact-info{
    font-size: 8pt;
    line-height: 5px;
    margin-left: 15px;

}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social :hover {
    font-weight: bolder;
}

.project-text {
    font-size: 8pt;
    width: 30vw;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    align-items:flex-start;
    text-align: center;
}

.footer-logo .logo {
    margin-left: 10px;
}

.footer-logo p {
    font-weight: bolder;
    line-height: 20px;
    font-size: 15pt;
}

/*
+=============+
Buttons config
+=============+
*/

.glass-button {
    margin-top: 20px;
    padding: 5px 15px;
    font-family: var(--Lexend);
    font-size: 20px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    border-radius: 10px;
    color: black;
    transition: transform 0.3s;
    /* background: linear-gradient(45deg, rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0.70)); */
    transition: 300ms;
}

.glass-button:hover {
    transform: translateY(-5px);
    background-color: #d9d9d9;
}

.round-btn button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    box-shadow: -1px 1px 17px 1px rgba(0, 0, 0, 0.3);
    font-weight: bolder;
    padding: 7px 0 0 0;
}


.btn-next-1 {
    top: 860px;
}

.btn-next-1 button {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); 
    }
    100% {
        transform: translateY(0);
    }
}

#scrollTopButton {
    display: none; 
    position: fixed;
    bottom: 120px;
    right: 20px;
    border: none;
    transition: 300ms;
}

/* Show the button when the page is scrolled 500px */
body.scrolled-down #scrollTopButton {
    display: block;
}

#scrollTopButton button :hover{
    background-color: #d9d9d9;
   }



/*
+=============+
Index
+=============+
*/

/* presentation config */

.presentation {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 700px;
    background-color: rgba(255, 255, 255, 0.9);
    top: 1350px;
    box-shadow: -1px 1px 17px 1px rgba(0, 0, 0, 0.55);
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.present-text {
    height: 400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.present-text h2 {
    margin: 0;
}

.presentation img {
    box-shadow: -1px 1px 17px 1px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 400px;
}

.btn-next-2 {
    top: 1650px;  
}

/* clouds configs */
.cloud-1 {
    position: absolute;
    opacity: 50%;
    width: 1000px;
    height: 560px;
    top: 900px;
    left: 900px;
    z-index: -1;
}

.cloud-2 {
    position: absolute;
    /* opacity: 50%; */
    width: 1000px;
    height: 560px;
    top: 1400px;
    left: 200px;
    z-index: -1;
}


/* Centralize the title */
.title-container {
    position: absolute;
    width: 600px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: -2;
  }
  
.index-title {
    text-align: center;
    font-size: 64px;
    font-family: var(--Lexend-Giga);
} 

/* posts-containers */
.posts-sec {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    top: 1910px; /* 1080p 100%*/
}

.posts-index ul {
    display: flex;
    gap: 30px;
    padding: 0;
    justify-content: center; 
}

.posts-index li {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    box-shadow: -1px 1px 17px 1px rgba(0, 0, 0, 0.55);
}

.posts-index li .post-preview-text p {
    position: absolute; 
    bottom: 10px; 
    width: 100%; 
}

.posts-index img {
    object-fit:cover;
    height: 150px;
    width: 250px;
}

.post-preview-text {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 30px;
}

.post-preview-text span {
    font-family: var(--Lexend);
    font-size: 30px; 
    margin-top: 5px;
    word-wrap: break-word;
    width: 90%;
}

.post-preview-text p {
    font-family: var(--Poppins);
    font-size: 10pt; 
    color: gray;
    margin: 0;
}

.button-container {
    display: flex;
    justify-content: center;
}

.mid-sec-gradient {
    position: absolute;
    width: 100%;
    height: 880px;
    top: 1850px; /* 1080p 100% */
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,0) 100%);
    z-index: -3;
}

.mid-sec {
    position: absolute;
    width: 100%;
    height: 880px;
    top: 1850px; /* 1080p 100% */
    font-size: 30pt;
    text-align:justify;
    color: #d9d9d9;
    opacity: 30%;
    overflow: hidden;
    z-index: -4;
 
}
/*
+=============+
Form Config 
+=============+
*/
.custom-file-label, .add-post-form input, .add-post-form textarea  {
    color: #6B6B6B;
    background: rgba(217, 217, 217, 0.80);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
  }


.form-title {
    text-align: center;
    font-size: 64px;
    font-family: var(--Lexend-Giga);
}

.post-form {
    width: 570px;
    height: 570px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    text-align: left;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.80); 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 30px;
  }

  .add-post-form textarea {
    font-size: 13pt;
    padding: 20px 0 0 20px;
  }
  
 .post-form .i-1 {
    grid-column: span 1;
 }

 .post-form .i-1,
 .post-form .i-2,
 .post-form .i-5,
 .post-form .i-7 {
    
    font-weight: bolder;
    padding: 0;   
    margin: 0;
    display: flex;
    flex-direction: column-reverse; 
 }

  .post-form .i-3,
  .post-form .i-4,
  .post-form .i-8,
  .post-form .i-9 {
    border-radius: 5px;
    grid-column: span 1;
    display: flex;
    margin: 0;
    padding: 0 0 0 20px;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 13pt;
    height: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .post-form .i-4,
  .post-form .i-9 {
    padding: 0;
    border: none; 
 }

  .post-form .i-6 {
    border-radius: 5px;
    grid-row: span 10;
    grid-column: span 2;
  }
  .post-form .i-7 {
    grid-column: span 2;
  }
  
  .image-input {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .custom-file-label {
    color: #6B6B6B;
    padding: 0 0 0 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: 300ms;
    justify-content: center;
    
    height: 40px;
  }
  
  .custom-file-label:hover {
    background-color: #6b6b6b;
    color: white;
  }
  
  .add-post-form .image-input {
    display: none;
  }

  
  
/*
+=============+
Manage Posts and Posts Config 
+=============+
*/

.manage-posts .posts-sec {
    top: 150px;
    left: 50%;
    max-width: 1200px;
}

.manage-posts-title {
    margin-top: 30px;
}

.manage-posts ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    padding: 0;
    list-style: none;
    justify-items: center; 
}

.manage-posts li {
    text-align: left;
    box-sizing: border-box;
}

.manage-posts .post-list h2 {
    font-size: 1.2rem;
    margin: 0;
}

.manage-posts .post-list p {
    margin: 10px 0;
}

.manage-posts footer {
    top: 89vh;
}

.edit-delete {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
  
.edit-delete :hover {
    color: #d9d9d9;
}

.pagination {
    top: 80vh;
    width: 50%;
    justify-content: center;
    display: flex;
    text-align: center;
    gap: 10px;
}

.pagination :hover{
    transition: 300ms;
    background-color: #d9d9d9;
}

.pagination a {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    border: 1px solid #d9d9d9;
}

 /*
+=============+
Post Config 
+=============+
*/
 .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

 .wrapper .navbar {
    padding: 0;
 }

 .wrapper .navbar .logo {
    padding-left: 30px;   
 }

 .post-body {
    width: 100%;
 }

 .post-container {
    max-width: 500px;
    max-height: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .image-post {
    max-width: 100%;
    max-height: 400px ;
    margin-bottom: 20px;
  }
  

  .title-post {
    font-size: 18pt;
    margin-bottom: 10px;
  }
  
 
  .text-post {
    font-size: 10pt;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  

  .author-post {
    font-style: italic;
    color: #777;
  }
  

  
   
  
 
/*
+=====================================================================+
                        Media Adjustments
+=====================================================================+
*/


/*
  +========================+
  1080p notebook 125% zoom
  +========================+
*/
@media (min-resolution: 1.25dppx) { 
    
    :root {
        --x: 345; /* Value of the Title Function */
      }

    footer {
        top: 2210px;
    }  

    /*
    +=============+
    Index
    +=============+
    */

    /* background config */

    .index {
        background-position: -280px -210px;    
    }

    /* presentation config */

    .presentation {
        top: 1000px;
        transform: translateX(-50%) scale(0.9);  
    }

    .btn-next-1 {
        top: 670px;  
    }

    .btn-next-2 {
        top: 1550px;  
    }

    /* title config*/

    .index-title {
        font-size: 40px; 
        margin-top: 18px;     
    } 

    /* posts section config */

    .posts-sec {
        top: 1530px;
        left: 50%; 
        transform: translateX(-50%) scale(0.7); 
        max-width: 1200px;
    }

    .posts-index li {
        margin: 0 10px 0 10px; 
    }

    .posts-index li p {
       font-size: 10pt;
    }

    .mid-sec-gradient {
      background: rgb(255,255,255);
      background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9428104005273985) 57%, rgba(255,255,255,0) 100%); 
      height: 200px;
      top: 1700px; 
    }

    .mid-sec {   
        height: 600px;
        top: 1680px; 
        font-size: 20pt;
        opacity: 25%;
    }


     /*
    +=============+
    Manage Posts
    +=============+
    */
    
    .manage-posts .posts-sec {
        top: 50px;
        left: 50%; 
        transform: translateX(-50%) scale(0.8); 
        max-width: 1200px;
    }

    .manage-posts footer {
        top: 622px;
    }

    .pagination {
        top: 580px;
    }

    /*
    +=============+
    Forms Config
    +=============+
    */
    .post-form {
        width: 470px;
        height: 470px;
    }

    .add-posts-index {
        /* height: 100%; */
        background-position: -80px -1500px;
        /* overflow-x: hidden; */
    }


       
}


/*
  +========================+
      Hd screen devices 
  +========================+
*/
@media (min-device-width: 900px) and (max-width: 1445px) {


    :root {
        --x: 300; /* Value of the Title Function */
        --scr-1:900;
        --scr-2:1680;
      }

 
     /*
    +=============+
    Footer
    +=============+
    */

    footer {
        top: 2235px;
        height: 80px;
        padding-top: 5px;
    }  

    .contact-info {
        font-size: 8pt;
        line-height: 1px;
        }  

    .project-text {
        font-size: 8pt;  
        } 


    /*
    +=============+
    Index
    +=============+
    */

    /* background config */

    .index {
        background-position: -350px -210px;    
    }

    /* presentation config */

    .presentation {
        top: 975px;
        transform: translateX(-50%) scale(0.75);  
    }
    .btn-next-1 {
        top: 560px;
    }

    .btn-next-2 {
        top: 1470px;  
    }

    /* title config*/

    .index-title {
        font-size: 40px; 
        margin-top: 18px;     
    } 

    /* posts section config */

    .posts-sec {
        top: 1580px;
        left: 50%; 
        transform: translateX(-50%) scale(0.58); 
        max-width: 1200px;
    }

    .posts-index li {
        margin: 0 10px 0 10px; 
    }

    .posts-index li p {
        font-size: 10pt;
    }
    
    .button-container .glass-button {
    
        font-size: 20pt;
        padding: 10px 20px 10px 20px;
    }

    .mid-sec {   
        height: 600px;
        top: 1760px; 
        font-size: 20pt;
        opacity: 25%;
    }

    .mid-sec-gradient {   
        height: 600px;
        top: 1760px; 
        opacity: 80%;
    }

     /*
    +=============+
    Manage Posts
    +=============+
    */
    
    .manage-posts .posts-sec {
        top: 20px;
        left: 50%; 
        transform: translateX(-50%) scale(0.7); 
        max-width: 1200px;
    }

    .manage-posts footer {
        top: 85vh;
        height: 130px;
      }
    

    .pagination {
        top: 520px;
    }


    /*
    +=============+
    Forms Config
    +=============+
    */
    .post-form {
        width: 470px;
        height: 470px;
    }

    .add-posts-index {
        /* height: 100%; */
        background-position: -80px -1500px;
        /* overflow-x: hidden; */
    }

}


/*
  +========================+
      Mobile Devices
  +========================+
*/
@media (min-device-width: 350px) and (max-width: 450px) {

    :root {
        --x: 350; /* Value of the Title Function */
        --scr-1:765;
        --scr-2:1780;
        --titlePos: 10%;
      }

          /*
+=============+
index
+=============+
*/

    .index {
        background-position: -850px 100px;
        width: 100%;
        overflow-x: hidden;
    }

    .title-container {
        width: 100%;
    }

    .index-title {
        font-size: 24pt;
    }

              /*
presentation
*/
    .presentation {
        width: 100%;
        overflow: hidden;
        padding: 20px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        height: 500px;
        /* top: 1350px; */
        align-items: center;
        justify-content: center;
        border-radius: 0;

    }

    .present-text {
        height: 400px;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: justify;
        /* padding: 20px 30px 0 30px; */
    }
    
    .present-text h2 {
        margin: 0;
        text-align: center;
        font-size: 15pt;
    }
    
    .presentation img {
        margin-top: 20px;
        width: 100%;
        height: 250px;
        border-radius: 5px;
    }
   
    /*
Midsec
*/

    .mid-sec-gradient {
        width: 100%;
    }

    .mid-sec {
        /* border: solid 1px red; */
        width: 100%;
    }



              /*
Posts section
*/
    .posts-sec {
        /* border: solid 1px red; */
        width: 100%;
    }

    .posts-sec {
        position: absolute;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        top: 1780px; 
        /* overflow: hidden; */
    }

    .posts-sec h2 {
       margin-top: 10px;
       margin-bottom: 0;
    }

    .carousel {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;

    }
    
    .posts-index ul {
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding: 0;
        justify-content: center; 
        
    }
    
    .posts-index li {
        margin: 0;
        position: relative;
        width: 300px;
        height: 300px;
        background-color: rgba(255, 255, 255, 0.9);
        overflow: hidden;
        box-shadow: -1px 1px 17px 1px rgba(0, 0, 0, 0.55);
        scale: 0.9;
    }
    
    .posts-index li .post-preview-text p {
        z-index: 1;
        position: absolute; 
        bottom: 10px; 
        width: 100%; 
    }
    
    .posts-index img {
        z-index: -2;
        object-fit:cover;
        height: 200px;
        width: 100%;
    }
    
    .post-preview-text {
        z-index: 1;
        display: flex;
        flex-direction: column;
        margin: 0 0 0 30px;
    }
    
    .post-preview-text span {
        font-family: var(--Lexend);
        font-size: 30px; 
        margin-top: 5px;
        word-wrap: break-word;
        width: 90%;
    }
    
    .post-preview-text p {
        font-family: var(--Poppins);
        font-size: 10pt; 
        color: gray;
        margin: 0;
    }
    
    .button-container {
        display: flex;
        justify-content: center;
    }

     /* clouds configs */
     .cloud-1 {
        position: absolute;
        opacity: 50%;
        width: 330px;
        height: 300px;
        top: 700px;
        left: -100px;
        z-index: -1;
        /* border: 5px red solid; */

    }

    .cloud-2 {
        position: absolute;
        /* opacity: 50%; */
        width: 300px;
        height: 150px;
        top: 1400px;
        left: 40px;
        z-index: -1;
        /* border: 5px red solid; */
       
    }

     .title-post {
        font-size: 18pt;
      }
    
      .text-post {
        font-size: 8pt;
      }

      .post-container {
        max-width: 100%;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        max-height: 700px;
        
      }



    /*
+=============+
Navbar
+=============+
*/

/* navbar */
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        position: fixed;
        top: 2%;
        left: 0;
        right: 0;
        width: 100%;
    }

    .logo {
        margin-left: 10px; 
    }

    .nav-btns {
        width: 238px;
        height: 50px;
        margin-right: 35px;
        scale: 0.9;
        /* padding: 5px 30px 5px 30px; */
    }


    /*
+=============+
Footer
+=============+
*/

    footer {
        top: 2500px;
    }

    .project-text {
        visibility: hidden;
    }


    /*
+=============+
Manage Posts
+=============+
*/

.manage-posts-title {
    margin-top: 120px;
    z-index: 30;
}

.manage-posts-background {
height: 118vh;
/* overflow-x: hidden; */
}

.manage-posts .posts-index.posts-sec {
    display: flex;
    top: 15%;
    justify-content: start;
    gap: 20px;
    padding: 20px 0;
    max-height: 540px; 
    overflow-y: auto ; 
  }
  
.manage-posts .carousel-posts {
list-style: none;
width: 100%;
padding: 0;
margin: 0;
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: start;
align-items: flex-start;
}

.manage-posts .carousel-posts li {
min-width: calc(50% - 20px); 
min-height: 300px; 
scroll-snap-align: start;
flex: 1 0 auto;
}

.pagination {
top: 82vh;
}

.manage-posts footer {
top: 85vh;
height: 130px;
}

.post-preview-text {
margin-top: 12px;
display: flex;
flex-direction: row;
width: 80%;
}

.post-preview-text a { 
align-self: center;
padding: 5px;
border-radius: 10px;
border: 1px solid black;
transition: ease-in 1s;
}

.post-preview-text a :hover { 
background-color: gainsboro;
}

    /*
+=============+
Post
+=============+
*/

.image-post {
max-width: 100%;
max-height: 400px ;
margin-bottom: 20px;
}

.post-container {
    max-width: 80%;
}

    /*
+=============+
Add-Post/
+=============+
*/

.add-post-form {
    width: 100%;
    padding: 0;
}

.add-post-form .index-title {
    margin-top: 80px;
    margin-bottom: 20px;
}

.form-title {
    text-align: center;
    font-size: 64px;
    font-family: var(--Lexend-Giga);
}

.post-form {
    transform: scale(0.9); 
    width: 100%;
    height: 570px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    text-align: left;
    border-radius: none;
    background: none; 
    box-shadow: none;
    padding: 0;
  }

.post-form .i-4 {
    font-size: 9pt;
}

.add-posts-index .navbar {
    max-width: 100%;
}









}